---
#--------------------------------------------------------------
# Customize the Stage 2 Apps web page appearance:
#   site_name   replaces 'MDI' as the name of the page, keep it short
# Additionally, include these files in mdi/config to override the framework
#   launch-page-header.md (replaces shiny/shared/static/launch-page-header.md)
#-------------------------------------------------------------
site_name: null

#--------------------------------------------------------------
# Stage 2 Apps web server access control types:
#   null    grants access to anyone who can load the URL (e.g., local/remote modes)
#   oauth2  provides the most robust security via 3rd party login
#   keys    uses typed keys to add moderate security to public URLs
#-------------------------------------------------------------
access_control: null

#--------------------------------------------------------------
# Named server file paths that users _may_ be granted access to browse
#--------------------------------------------------------------
paths:
  demo1: /path/to/demo1
  demo2: /path/to/demo2

#--------------------------------------------------------------
# Configure the Pipeline Runner app:
#   pipeline_runner  auto  = enable Pipeline Runner in remote modes only
#                    true  = enable Pipeline Runner whenever possible
#                    false = disable the Pipeline Runner
#   job_default      the path name above used as a default by Pipeline Runner
#--------------------------------------------------------------
pipeline_runner: auto
job_default: demo1

#--------------------------------------------------------------
# Client information when access_control = oauth2
# Recognized authentication hosts:
#   google  see https://developers.google.com/identity/protocols/oauth2
#   globus  see https://docs.globus.org/api/auth/ and https://developers.globus.org/
#-------------------------------------------------------------
oauth2:
  host: google 
  client:
    key:    null # also called a client ID
    secret: null

#--------------------------------------------------------------
# Users granted access when access_control = oauth2
#--------------------------------------------------------------
#   - email addresses may include wildcards (*)
#   - the _first_ matching email is used, so put wildcards with restricted access last
#   - paths under 'paths: read' will be read-only for the user
#   - paths under 'paths: write' can additionally be written to (implies read)
#--------------------------------------------------------------
# Paths and apps may be entered as:
#   all, to give access to all named paths or all apps
#   null, to deny all access (i.e., to disable file browsing)
#   one, or an array, of path or app names
#--------------------------------------------------------------
# Optionally, paths may contain named entries for:
#   load_default      name of the readable path to start with for loading files
#   bookmark_default  name of the writable path to start with for saving bookmarks
#--------------------------------------------------------------
user_groups:
  public_access:
    emails:
      - "*@*" # i.e., all authenticated email addresses
    paths: 
      read: null
      write: null
      load_default: null
      bookmark_default: null
    apps: demoApp
  limited_access:
    emails:
      - "*@umich.edu" # i.e., all users with an authenticated Michigan email
    paths: 
      read: demo1
      write: null
      load_default: demo1
      bookmark_default: null
    apps: all
  full_access:
    emails: # list of specific users authenticated by login email
      - johndoe@umich.edu
      - janedoe@umich.edu
    paths: 
      read: all
      write: demo2
      load_default: demo1
      bookmark_default: demo2
    apps: all

#--------------------------------------------------------------
# Named access keys recognized when access_control = keys
#--------------------------------------------------------------
#   hash  _encrypted_ version of the key that should be entered by a user
#         call mdi::password_store(key) to get the value to enter below
#--------------------------------------------------------------
# Paths and apps are entered similarly to users, above
#--------------------------------------------------------------
keys:
  team_members:
    hash: 5fr9uc24m0eqjbgxp1wnva6hd8okiltz_df6e4823c701569a0a2adb899f041e9d
    paths: 
      read: all
      write: demo2
    apps: all
